<div class="row my-3">
		<div class="offset-sm-3">
			<strong class="red-border px-3 pb-1">登録情報</strong>
		</div>
	</div>

<div class="row">
		    <%= link_to "編集する", edit_public_customers_path, class: "btn btn-outline-danger mx-auto my-1" %>
		  </div>
		  <div class="row">
				<%= link_to "パスワードを変更する", customer_password_path, class: "btn btn-outline-danger mx-auto my-1" %>
	   </div>
	   
	<div class="row">
	  <div class="offset-sm-4 col-sm-4">
	    <table class="table table-borderless table-hover">
	      <tr class="brown-border">
		    	<td>氏名</td>
		    	<td>
		    		<%= current_customer.last_name %>
		    		<%= current_customer.first_name %>
		    	</td>
	      </tr>

	      <tr class="brown-border">
		    	<td>フリガナ</td>
		    	<td>
		    		<%= current_customer.last_name_kana %>
		    		<%= current_customer.first_name_kana %>
	    		</td>
	      </tr>

	      <tr class="brown-border">
		    	<td>郵便番号</td>
		    	<td><%= current_customer.postal_code %></td>
	      </tr>

	      <tr class="brown-border">
		    	<td>住所</td>
		    	<td><%= current_customer.address %></td>
	      </tr>

	      <tr class="brown-border">
		    	<td>電話番号</td>
		    	<td><%= current_customer.phone %></td>
	      </tr>

	      <tr class="brown-border">
	    		<td>メールアドレス</td>
	        <td><%= current_customer.email %></td>
	      </tr>
	    </table>

	 </div>

		<div class="offset-sm-1 col-sm-3">
			<div class="row">
				<td>配送先</td>
		 		<%= link_to "一覧を見る", public_deliveries_path, class: "btn btn-primary btn-outline-danger my-1" %>
		 	</div>
		 	<div class="row">
		 		<td>注文</td>
				<%= link_to "一覧を見る", owner_orders_path, class: "btn btn-primary btn-outline-danger my-1" %>


			</div>
	</div>
</div>