<h3>注文履歴詳細</h3>

<table class="table">
  <thead>
    <tr>
      <th>購入者</th>
      <td><%= link_to customer.full_name, owner_customer_path(customer) %></td>
      <th>配送先</th>
      <td><%= order.postal_code.address. %></td>
      <td><%= order.full_name %></td>
      <th>支払方法</th>
      <td><%= order.payment_method %></td>
      <th>注文ステータス</th>
      <td>
      	<%= form_for @order, url: owner_order_path(@order) do |f| %>
      	<%= f.select :order_status,[["入金待ち","0"],["入金確認","1"],["作成中","2"],["発送準備中","3"],["発送済み","4"]] %>
      <%= f.submit '更新', class: "btn btn-primary" %>
      <% end %>
      </td>
    </tr>
  </thead>
</table>

<table class="table">
  <thead>
  	<tr>
  	  <th>商品名</th>
  	  <th>単価（税込）</th>
  	  <th>数量</th>
  	  <th>小計</th>
  	  <th>製作ステータス</th>
  	  <th></th>
  	</tr>
  </thead>
  	  <%= @order_items.each do |order_item| %>
  	    <tbody>
  	      <tr>
  	        <td><%= order_item.item.name %></td>
  	        <td><%= order_item.item.price %></td>
  	        <td><%= order_item.amount %></td>
  	        <td><%= ></td>
      	<%= form_for @order_items, url: item_status_update_path(order_item) do |f| %>
      	<%= f.select :order_status,[["着手不可","0"],["製作待ち","1"],["製作中","2"],["製作完了","3"]] %>
      <%= f.submit '更新', class: "btn btn-primary" %>
          </tr>
        </tbody>
         <% end %>
  </table>

  <table>
    <tbody>
    <tr>
      <th>商品合計</th>
        <td><%= sum %></td>
      <th>送料</th>
        <td><%= @order.shipping_cost %></td>
      <th>請求額</th>
        <td><%=  sum+@order.shipping_cost %></td>
    </tr>
    </tbody>
  </table>









