<div><%= link_to "カートを空にする", public_cart_items_destroy_all_path, method: :delete, class:"btn btn-danger" %></div>

<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
	</thead>

	<% @cart_items.each do |cart_item| %>

	<tbody>
		<tr>
			<td><%= attachment_image_tag cart_item.item, :image, :fill,45,45, fallback: "noimage.jpg",size:"45x45" %></td>
			<td><%= cart_item.item.name %></td>
			<td><%= (cart_item.item.price*1.1).floor %></td>

			<td>
				
			</td>

			<td><%= (cart_item.item.price*1.1).floor*cart_item.amount %></td>
			<td><div class="btn btn-danger btn-sm">削除する</div></td>
		</tr>
	</tbody>

	<% end %>

</table>

<div>
	<div>合計金額</div>
	<div><%= (@total_price*1.1).floor %></div><!--あとで直します<-->
</div>
