<div class="container">
	<div class="row">

		<div class="col-xs-3">
			ジャンル検索入ります
		</div>

		<div class="col-xs-3">
			<div class="item-img">
				<%= attachment_image_tag @item, :image, :fill,45,45, fallback: "noimage.jpg",size:"300x200" %>
			</div>
		</div>

		<div class="col-xs-6">
			<h1><%= @item.name %></h1>
			<h5><%= @item.introduction %></h5>
			<h2>¥<%= @item.price %></h2>
		</div>

		<%= form_for(@cart_item, url:public_cart_items_path,method: :post) do |f| %>

			<%= f.hidden_field :item_id, :value => @item.id %> <!-- cart_itemにitem_idを送る為 -->

			<%= f.select :amount, [*(1..10)], include_blank:"--選択--"%>

			<%= f.submit "カートに入れる", class: "btn btn-primary" %>

		<% end %>

	</div>
</div>