<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <nav>
    <ul>
      <% if customer_signed_in? %>
        <li>会員</li>
        <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
      <% elsif owner_signed_in? %>
        <li>管理者</li>
        <li><%= link_to "ログアウト", destroy_owner_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </nav>
  </header>
    <%= yield %>
  </body>
</html>
